
 

.form-containeer{
    width: 500px;
height: 600px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #95A0A7;
background: #FFF;
margin: 20px auto;
padding-left: 40px;
}
.form-title{
    color: #2A414F;
    /* H4 */
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.088px;
    text-align: center;
   
    
}
.form-control{
    margin-bottom: 20px;
}
.form-control label{
    display: block;
    font-family: 'Lato', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.026px;
margin-bottom: 10px;
}
.form-control input{
    width: 415px;
height: 55px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #95A0A7;
padding-left: 5px;
}
.btn-submit{
    width: 415px;
height: 55px;
flex-shrink: 0;
border-radius: 5px;
background: rgba(255, 153, 0, 0.30);
color: #0E161A;

/* H6 */
font-family: Lato;
font-size: 21px;
font-style: normal;
margin-top: 40px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.032px;
}
.btn-submit:hover{
    background: rgba(255, 153, 0, 0.60);
}
.btn-link{
   justify-content: center;
   align-items: center;
}